body{
    background-color: #F5FAFA;
}

h3{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: black;
}

label{
    color: black;
}

#contenido{
    margin: 0 auto;
}